# INCARCERATION STARTER

### Import Modules

In [1]:
import numpy as np 
import pandas as pd

## Read in CSVs

In [4]:
crime = pd.read_csv("../Data/incarceration_data/ucr_by_state.csv")
prisoners_in_custody = pd.read_csv("../Data/incarceration_data/prison_custody_by_state.csv")
incarceration = pd.read_csv("../Data/incarceration_data/crime_and_incarceration_by_state.csv")

In [5]:
display(crime.head(10))
display(prisoners_in_custody.head(10))
display(incarceration.head(10))

,jurisdiction,year,crime_reporting_change,crimes_estimated,state_population,violent_crime_total,murder_manslaughter,rape_legacy,rape_revised,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft
0,Alaska,2001,0,0,"633,630","3,735",39,501,NaN,514,"2,681","23,160","3,847","16,695","2,618"
1,Alaska,2002,0,0,"641,482","3,627",33,511,NaN,489,"2,594","24,118","3,908","17,739","2,471"
2,Alaska,2003,0,0,"648,280","3,877",39,605,NaN,446,"2,787","24,386","3,874","18,051","2,461"
3,Alaska,2004,0,0,"657,755","4,159",37,558,NaN,447,"3,117","22,172","3,773","16,159","2,240"
4,Alaska,2005,0,0,"663,253","4,194",32,538,NaN,537,"3,087","23,975","4,131","17,249","2,595"
5,Alaska,2006,0,0,"670,053","4,610",36,512,NaN,600,"3,462","23,975","4,155","17,284","2,536"
6,Alaska,2007,0,0,"683,478","4,520",43,545,NaN,581,"3,351","23,096","3,734","16,929","2,433"
7,Alaska,2008,0,0,"686,293","4,475",27,447,NaN,645,"3,356","20,090","3,237","15,225","1,628"
8,Alaska,2009,0,0,"698,473","4,424",22,513,NaN,654,"3,235","20,538","3,600","15,251","1,687"
9,Alaska,2010,0,0,"714,146","4,537",31,533,NaN,594,"3,379","20,259","3,105","15,535","1,619"

,jurisdiction,includes_jails,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Federal,0,"149,852","158,216","168,144","177,600","186,364","190,844","197,285","198,414","205,087","206,968","214,774","216,915","214,989","209,561","195,622","188,311"
1,Alabama,0,"24,741","25,100","27,614","25,635","24,315","24,103","25,253","25,363","27,241","27,345","26,813","26,768","26,825","26,145","25,212","23,745"
2,Alaska,1,"4,570","4,351","4,472","4,534","4,798","5,052","5,151","4,997","5,472","5,369","6,216","6,308","5,081","6,323","5,247","4,378"
3,Arizona,0,"27,710","29,359","31,084","32,384","33,345","35,752","37,700","39,455","40,544","40,130","39,949","40,013","41,031","42,136","42,204","42,248"
4,Arkansas,0,"11,489","11,849","12,068","12,577","12,455","12,854","13,275","13,135","13,338","14,192","14,090","14,043","14,295","15,250","15,784","15,833"
5,California,0,"157,142","159,695","161,785","163,939","168,035","172,298","171,444","171,085","168,830","162,821","147,578","132,935","134,339","134,430","127,815","129,416"
6,Colorado,0,"17,278","18,636","19,450","19,655","21,063","22,051","22,666","23,211","22,725","22,752","21,862","20,328","20,184","20,469","19,959","19,486"
7,Connecticut,1,"17,507","18,716","18,023","17,993","17,928","18,902","19,438","19,905","18,938","18,629","17,877","17,164","17,319","16,814","16,024","15,040"
8,Delaware,1,"6,841","6,637","6,630","6,753","6,788","7,021","7,110","6,944","6,581","6,378","6,546","6,730","6,798","6,730","6,437","6,334"
9,Florida,0,"72,404","75,210","79,594","83,165","86,559","90,377","95,187","99,878","101,373","102,070","100,861","99,835","100,940","100,873","99,485","98,010"

,jurisdiction,includes_jails,year,prisoner_count,crime_reporting_change,crimes_estimated,state_population,violent_crime_total,murder_manslaughter,rape_legacy,rape_revised,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft
0,FEDERAL,False,2001,149852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALABAMA,False,2001,24741,False,False,4468912.0,19582.0,379.0,1369.0,NaN,5584.0,12250.0,173253.0,40642.0,119992.0,12619.0
2,ALASKA,True,2001,4570,False,False,633630.0,3735.0,39.0,501.0,NaN,514.0,2681.0,23160.0,3847.0,16695.0,2618.0
3,ARIZONA,False,2001,27710,False,False,5306966.0,28675.0,400.0,1518.0,NaN,8868.0,17889.0,293874.0,54821.0,186850.0,52203.0
4,ARKANSAS,False,2001,11489,False,False,2694698.0,12190.0,148.0,892.0,NaN,2181.0,8969.0,99106.0,22196.0,69590.0,7320.0
5,CALIFORNIA,False,2001,157142,False,False,34600463.0,212867.0,2206.0,9960.0,NaN,64614.0,136087.0,1134189.0,232273.0,697739.0,204177.0
6,COLORADO,False,2001,17278,False,False,4430989.0,15492.0,158.0,1930.0,NaN,3555.0,9849.0,170887.0,28533.0,121360.0,20994.0
7,CONNECTICUT,True,2001,17507,False,False,3434602.0,11492.0,105.0,639.0,NaN,4183.0,6565.0,95299.0,17159.0,65762.0,12378.0
8,DELAWARE,True,2001,6841,False,False,796599.0,4868.0,23.0,420.0,NaN,1156.0,3269.0,27399.0,5144.0,19476.0,2779.0
9,FLORIDA,False,2001,72404,False,False,16373330.0,130713.0,874.0,6641.0,NaN,32867.0,90331.0,782517.0,176052.0,516548.0,89917.0